$primary_color: #6842ff;
$white_text_color: #f9faff;
$dark_purple: #373952;
$light_grey: #aaadbe;
$white:#fff;
$black:#000;
$dark_color: #0c0d14;
$dark_primary:#212233;

$font_size_16: 16px;
$font_size_14: 14px;
$font_size_11: 11px;
$font_size_12: 12px;

$font_weight_400: 400;
$font_weight_500: 500;
$font_weight_600: 600;
$font_weight_700: 700;
$font_weight_800: 800;
$font_weight_900: 900;
